@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@media (prefers-color-scheme: light) {
  :root {
    --text: #032114;
    --background: #e4f9ee;
    --primary: #0b7f4e;
    --secondary: #6393f2;
    --accent: #1310bc;
    --whiteBlack: #f6fefa;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #defcef;
    --background: #010905;
    --primary: #F6B17A;
    --secondary: #2D3250;
    --accent: #424769;
    --whiteBlack: #242424;
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", serif;
  color: var(--text);
  /* font-family: "Playfair Display", serif; */
}

#root{
  width: 100%;
}

body{
  background-color: var(--background);
}